<?xml version="1.0"?>
<robot name="rocket">

    <link name="base_link">
        
    </link>

    <joint name="rocket_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="rocket"/>
    </joint>

    <link name="rocket">
        <inertial>
                    <origin xyz="0 0 0" rpy="0 0 0"/>
                    <mass value="0.01" />
                    <inertia ixx="7.58333333333e-06" ixy="0.0" ixz="0.0" iyy="7.58333333333e-06" iyz="0.0" izz="1.25e-05"/>
                </inertial>
                <collision>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <box size="0.2 0.2 0.2"/>
                    </geometry>
                </collision>
                <visual>
                    <origin rpy="1.5708 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="/home/marcus/rockettrackingplatform/dev_ws/src/trackingplatform/models/Example.stl" scale="0.001 0.001 0.001"/>
                        <!-- <box size="1 1 1"/> -->
                        <material name="orange">
                            <color rgba="1 0.3 0.1 1"/>
                        </material>
                    </geometry>
                </visual>
    </link>

    <gazebo reference="rocket">
        <material>Gazebo/Orange</material>
    </gazebo>

</robot>
